{% extends 'base.html.twig' %}

{% block title %}Hello EtudiantController!{% endblock %}

{% block body %}

    <h1>Info étudiant</h1>

    <ul>
        <li>Prénom : {{ etudiant.prenom }}</li>
        <li>Nom : {{ etudiant.nom }}</li>
        <li>Email : {{ etudiant.email }}</li>
        <li>Email : {{ etudiant.email }}</li>
        <li> Né le {{ etudiant.dateNaissance | date("d/m/Y") }}</li>
        <li>Age : {{ etudiant.age }} ans</li>
    </ul>



{% endblock %}
